<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alxgrk.eventalarm">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:label="@string/app_name" android:name=".activities.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name=".activities.home.HomeActivity"/>
        <activity android:label="Spotify Login"
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <receiver android:name=".requests.handler.RequestAlarmReceiver" android:process=":remote"/>
        <service android:exported="false" android:name=".requests.handler.RequestIntentService"/>

    </application>

</manifest>
